<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.dao.FriendDao">
    <select id="selectFriendsByGroupId" resultType="Friend">
		select f.id as id,f.friend_note as friendNote,f.to_id as friendId,u.`status` as friendStatus
		from friend f join sys_user u
		on f.to_id=u.id
		where group_id=#{id}
	</select>
</mapper>
