<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.dao.OrganizationDao">
    <update id="updateLastViewHistoryId">
        update tb_user_org
        set rec_id = #{historyId}
        where user_id = #{userId} and org_id = #{orgId}
    </update>
    <select id="findOrgs" resultType="Organization">
        select o.id as id, o.org_name as orgName, o.max_num as maxNum, o.now_num as nowNum
        from tb_organization o right join tb_user_org uo
                                          on o.id = uo.org_id
                               right join sys_user u
                                          on uo.user_id = u.id
        where u.id = 11
    </select>

    <select id="findHistoriesOfOrg" resultType="History">
        SELECT h.id as id, u.username as fromName,h.content as content,h.fromId as fromId
        from tb_organization o left join tb_history h
                                         on h.toId = o.id
                               left join sys_user u
                                         on h.fromId = u.id
        where h.state = 2	and o.id = #{orgId}
    </select>
    <select id="findAllUserOfOrg" resultType="java.lang.Integer">
        SELECT user_id as userId
        from tb_user_org
        where org_id = #{orgId}
    </select>
</mapper>

